<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">


    <title>Panel de administrador</title>
</head>
<body>
<!--
TODO: cambien el pinche tema de esta mamada si tienen chance, esta dlv
TODO: agregar iconos en vez de texto eliminar y mod
-->

        {% include 'anothernav.html' %}

<div class="container">
	<table>
		<thead>
			<tr>
				<th>Product ID</th>
				<th>Nombre</th>
				<th>SKU</th>
				<th>Descripcion</th>
				<th>Stock</th>
                <th>Precio</th>
                <th>Modificar</th>
                <th>Eliminar</th>
			</tr>
		</thead>
		<tbody>
            {% for d in data %}
                <tr>
                    <td>{{ d.0 }}</td>
                    <td>{{ d.1 }}</td>
                    <td>{{ d.2 }}</td>
                    <td>{{ d.3 }}</td>
                    <td>{{ d.4 }}</td>
                    <td>{{ d.5 }}</td>
                    <td><a href="/admin/mod_prod/{{ d.0 }}">Modificar</a></td>
                    <td><a href="/admin/del_prod/{{ d.0 }}">Eliminar</a></td>
                </tr>
            {% endfor %}
		</tbody>
	</table>
</div>

</body>
</html>