<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/static/css/bootstrap.css" rel="stylesheet" />
    <link href="/static/css/headerAdm.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
{% include 'anothernav.html' %}
<div class="contenedor">
    <table>
        <thead>
        <tr>
            <th>Email</th>
            <th>Pass</th>
            <th>Crear admin</th>
            <th>Eliminar usuario</th>
        </tr>
        
        {% for r in regular %}
        
        {% if (loop.index%2) == 0 %}
        <tr style="background-color: #F6F6F6;">
            <td>{{ r[1] }}</td>
            <td>{{ r[2] }}</td>
            <td><a href="/admin/prom/<{{ r[0] }}>">Promover</a></td>
            <td><a href="/admin/elim/<{{ r[0] }}>">Eliminar</a></td>
        </tr>
        
        {%else%}
        <tr style="background-color: white;">
            <td>{{ r[1] }}</td>
            <td>{{ r[2] }}</td>
            <td><a href="/admin/prom/<{{ r[0] }}>">Promover</a></td>
            <td><a href="/admin/elim/<{{ r[0] }}>">Eliminar</a></td>
        </tr>
        
        {% endif %}
        {% endfor %}
        </thead>
    </table>
    <table>
        <thead>
        <tr>
            <th>Email</th>
            <th>Pass</th>
            <th>Bajar admin</th>
            <th>Eliminar usuario</th>
        </tr>
    </thead>
        {% for a in admin %}
        {%if (loop.index%2)==0%}
        <tr style="background-color: #F6F6F6;">
            <td>{{ a[1] }}</td>
            <td>{{ a[2] }}</td>
            <td><a href="/admin/demo/<{{ a[0] }}>">Bajar</a></td>
            <td><a href="/admin/elim/<{{ a[0] }}>">Eliminar</a></td>
        </tr>
        {% else %}
        <tr style="background-color: white;">
            <td>{{ a[1] }}</td>
            <td>{{ a[2] }}</td>
            <td><a href="/admin/demo/<{{ a[0] }}>">Bajar</a></td>
            <td><a href="/admin/elim/<{{ a[0] }}>">Eliminar</a></td>
        </tr>
        {%endif%}
        {% endfor %}
    </table>
</div>
</body>
</html>